<!-- yourapp/templates/add_book.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Clothe</title>
</head>
<body>

<h1>Add Clothe</h1>
<button>
<a href="http://127.0.0.1:8000/clothe/clothe-list/">Back</a>

</button>
<form method="post"  enctype="multipart/form-data" action="{% url 'add-clothe' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Clothe</button>
</form>

</body>
</html>
