{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form create shipment</title>
</head>
<body>

<h1>Form create shipment</h1>

<form method="POST" action="{% url 'update_shipment' shipment.id %}">
    {% csrf_token %}
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required>
    <br>
    <input type="submit" value="Save Shipment">
</form>


</body>
</html>